.container {
  width: 100%;
  max-width: 1200px;
  height: 200px;
  background-color: lightblue;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen {
}
@media screen and (max-width: 768px) {
  .container {
    background-color: blue;
  }
}
@media tv {
  .container {
    background-color: green;
  }
}
