<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>error</title>
  </head>
  <body>
    <script src="//volunteer.cdn-go.cn/404/latest/404.js"></script>
  </body>
</html>
