<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace->绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.bayyy.dao.BookMapper">

    <insert id="addBook" parameterType="books">
        insert into books (bookName,bookCounts,detail)
        values(#{bookName},#{bookCounts},#{detail})
    </insert>

    <delete id="deleteBookByID" parameterType="int">
        delete from books where bookID=#{bookID}
    </delete>

    <update id="updateBook" parameterType="books">
        update books set bookName=#{bookName},bookCounts=#{bookCounts},detail=#{detail}
        where bookID=#{bookID}
    </update>

    <select id="queryBookByID" parameterType="int" resultType="books">
        select * from books where bookID=#{bookID}
    </select>

    <select id="queryAllBook" resultType="books">
        select * from books
    </select>

    <select id="queryBookByName" parameterType="String" resultType="books">
        select * from books where bookName like concat('%',#{bookName},'%')
    </select>

</mapper>