body {
  background: #000;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #000;
  font-size: 6em;
  text-shadow:
  1px 0 #fff,
  1px 1px #fff,
  1px -1px #fff,
  0 1px #fff,
  0 -1px #fff,
  -1px 0 #fff,
  -1px 1px #fff,
  -1px -1px #fff;
}
