div {
    margin: 10px;
    padding: 5px;
}

#father {
    border: 1px #000 solid;
}

.layer01 {
    border: 1px #F00 dashed;
    display: inline-block;
    float: left; /*向左浮动*/
    clear: both; /*清楚浮动*/
}

.layer02 {
    border: 1px #00F dashed;
    display: inline-block;
    float: left;
    clear: both;
}

.layer03 {
    border: 1px #060 dashed;
    display: inline-block;
    float: left;
    clear: both;
}

.layer04 {
    border: 1px #666 dashed;
    font-size: 12px;
    line-height: 23px;
    /*float: left;*/
    clear: both;
}
